<%= form_for @forum_thread do |thread_form| %>
  <%= thread_form.error_messages %>
  <p>
    <%= thread_form.label :title %><br />
    <%= thread_form.text_field :title %>
  </p>
  <p>
    <%= thread_form.label :description %><br />
    <%= thread_form.text_field :description %>
  </p>
    <%= thread_form.fields_for :forum_posts do |post_form| %>
        <p>
        <%= post_form.label :content %>
        <%= post_form.text_area :content %>
        </p>
    <% end %>
  <p><%= thread_form.submit "Create Thread" %></p>
<% end %>
