<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "slide.css" %>
		
    <%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "http://js.pusherapp.com/1.6/pusher.min.js" %>
		<%= javascript_include_tag "pusher.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	
		<%= render :partial => 'layouts/topbar' %>

		<div id="main">
			<div id="thread_list"> <%= yield(:thread_list) %> </div>
			<div id="thread_view">
				<div id="thread_posts"> <%= yield(:thread_posts) %> </div>
				<div id="thread_entry"> <%= yield(:thread_entry) %> </div>
			</div>
		</div>
		
		<%= yield(:flash) %>
		<%= yield %>
		(forum)
  </body>
</html>
